# Java
.idea/
*.iml
dependency-reduced-pom.xml

# Node
node_modules/
yarn-error.log
yarn.lock

# .NET
/.vs

# Build/Release
codesigning.asc
.built
.rsynced
.release/
vendor/

# OS
.DS_Store

# Ruby
.bundle/
